# Variables in the python

### Declaring and the assigning Variables

In [8]:
age = 32 
height = 6.1
name = "krish"
is_student = True

print(age , height , name , is_student) ;

32 6.1 krish True

### Naming Convention

In [ ]:
#variable names should be descriptive
#They must always start with '_' or letter and can contain letters and numbers
#variable names are case sensitive
#valid variable name : 
# first_name = "krish naik"
# first__45$%name = 5 ; --- invalid
# first__45name = 5 ; --- valid

### Understanding Variable types

In [19]:
## python is dynamically typed , type of a variable is determined at runtime no need to datatype before variable
age = 25  #int
height = 8.23 # float
is_true = True 
print(age , height , is_true)

25 8.23 True

### Type Checking and Conversion

In [26]:
age = 25
print(type(age))

#type conversion : 
age_str = str(age) ; 
print(age_str , type(age_str)) ;

<class 'int'>
25 <class 'str'>

In [28]:
age = '25'
print(type(int(age)))

<class 'int'>

In [30]:
name = "Krish"
int(name) #wrong conversion

ValueError: invalid literal for int() with base 10: 'Krish'

In [36]:
height = 6.235
print(height , type(height))

print(int(height) , type(int(height)))

print(float(int(height)) , type(float(int(height))))

6.235 <class 'float'>
6 <class 'int'>
6.0 <class 'float'>

In [38]:
## Dynamic Typing:
## Python allows the type of the variable to change as program exceutes
var = 10 
print(var , type(var))

var = "ten"

10 <class 'int'>

### Input functionlity

In [40]:
## input : 
age = int(input("what is the age:"))
print(age , type(age)) ;

what is the age: 456

456 <class 'int'>

### Simple Calculator

In [45]:
num1 = float(input("enter the n1:"))
num2 = float(input("enter the n2:"))

sum = num1 + num2
diff = num1 - num2
product = num1 * num2
quotient = num1 / num2


print(sum , diff , product , quotient)

enter the n1: 45263.3265
enter the n2: 5456.63

50719.9565 39806.696500000005 246985225.27969503 8.295106411832945