### Introduction to Tuples

Tuples are ordered collections of items that are immutable.They are similar to lists , but their
immutability makes them different

In [4]:
#creating a tuple 
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [6]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [8]:
numbers = tuple([1 ,2 , 3 , 4 , 5])
print(numbers , type(numbers))

(1, 2, 3, 4, 5) <class 'tuple'>

In [12]:
lst = list(numbers)
print(lst , type(lst))

[1, 2, 3, 4, 5] <class 'list'>

In [14]:
mixed_tpl = (1 , 2, "hello" , 'c' , 45 , '%')
print(mixed_tpl)

(1, 2, 'hello', 'c', 45, '%')

In [26]:
## Accessing Tuple Elements:
mixed_tpl = (1 , 2, "hello" , 'c' , 45 , '%')
print(mixed_tpl[2])
print(mixed_tpl[-1])

#note : slicing and the indexing will be the same as the list

hello
%

In [28]:
# Tuple Operation:
mixed_tpl = (1 , 2, "hello" , 'c' , 45 , '%')
num = (1 , 2 , 3, 4, 5)
concat_tuple = mixed_tpl+num
print(concat_tuple)

(1, 2, 'hello', 'c', 45, '%', 1, 2, 3, 4, 5)

In [1]:
# same concatenation we can do in the list as well : 
lst1 = [1 ,2 , 3, 4]
lst2 = ["red" , "blue" , "green" , "yellow"]
newlst = lst1+lst2  
print(newlst)

[1, 2, 3, 4, 'red', 'blue', 'green', 'yellow']

In [34]:
#multiplying the number in the tuple led to the repetition 
#of the tuple content the number of times equal to that number getting multiplied
print(mixed_tpl*3)
print(num*3)

(1, 2, 'hello', 'c', 45, '%', 1, 2, 'hello', 'c', 45, '%', 1, 2, 'hello', 'c', 45, '%')
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [3]:
#Tuples are immutable meaning their element value cannot changed:
num = (1 ,2 , 3 ,2 , 4 , 5])
num[0] = 5
print(num)

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (2592219613.py, line 2)

In [41]:
# Tuple methods : 

#count the particular element in the tuple
num = (1 ,2 , 3 ,2 , 4 , 5)
print(numbers.count(1))

#get the index of the particular element in the tuple :
print(num.index(3))

1
2

In [47]:
#packing and the unpacking of the tuple : 
packed_tuple = 1 , "mermaid" , 45 , "$%" , "mango"
print(type(packed_tuple) , packed_tuple)

<class 'tuple'> (1, 'mermaid', 45, '$%', 'mango')

In [49]:
#unpacking of the tuple : 
a , b , c , d  , e = packed_tuple
print(a)
print(b)
print(c)
print(d)
print(e)

1
mermaid
45
$%
mango

In [59]:
# NOTE : we can't unpack like this : 
a  , b  , c = packed_tuple
print(a)
print(b)
print(c)

# if we wan't to do this we have to use * explain below , since the variables that we hae provided for the unpacking are not equal to the
# value in the tuple

ValueError: too many values to unpack (expected 3)

In [55]:
#unpacking with * : 
numbers = (1 , 2, 3, 4 ,5 , 6)
first , *middle , last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [67]:
## Nested Tuple : 
lst = ((1,3) , (2,4) , (4,6,4,2))
#when slicing is done inside the nested tuple same will work in the list as well.
lst[0][0:]

(1, 3)

In [77]:
#iterating over nested tuples : 
nes_tpl = ((1,3 ,2) , ('a' , 'b' , 'c') , ('$' , "ram" , 4 , 99))
for sub_tuple in nes_tpl:
    for element in sub_tuple:
        print(element , end=" ")   
        #using the end= " " to print the sentence in the same line.
    print()

1 3 2
a b c
$ ram 4 99