### For Loop

In [3]:
range(5) 
#range gives us the range of the numbers from the 0 to given n-1

range(0, 5)

In [5]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
for i in range(1 , 6):
    print(i)

1
2
3
4
5

In [9]:
# range(startIndex , endIndex , stepValue) by default stepValue = 1
#stepValue can be negative and the positive both
for i in range(1 , 10 , 2):
    print(i)

1
3
5
7
9

In [11]:
for i in range(10 , 1 , -2):
    print(i)

10
8
6
4
2

In [13]:
str = "Krish Naik"
for i in str:
    print(i)

K
r
i
s
h

N
a
i
k

### While Loop

In [18]:
count = 0 ; 
while count < 5:
    print(count)
    count = count+1

0
1
2
3
4

### Loop Control Statement

In [40]:
#break statement : 
for i in range(1,10):
    if i%3 == 0 and i%2 == 0:
        print(i)
        break

6

In [42]:
#continue statement : 
for i in range(1,10):
    if i%3 == 0 and i%2 == 0:
       continue ; 
    print(i)

1
2
3
4
5
7
8
9

In [54]:
#pass statement: does nothing in the code acts as null or return null like things
for i in range(1,10):
    if i%3 == 0 and i%2 == 0:
       pass
    print(i)

1
2
3
4
5
6
7
8
9

In [58]:
#nested loops : 
for i in range(3):
    for j in range(5):
        print(f"{i} and {j}")

0 and 0
0 and 1
0 and 2
0 and 3
0 and 4
1 and 0
1 and 1
1 and 2
1 and 3
1 and 4
2 and 0
2 and 1
2 and 2
2 and 3
2 and 4

### calculate the sum of the first n natural numbers :

In [67]:
n = int(input("enter the natural number"))
cnt = 0
for i in range(1 , n+1):
    cnt = cnt+i
print(cnt)

enter the natural number 200

20100

### Prime numbers between the 1 and 10

In [76]:
for num in range(2 , 100):
    x = True
    for j in range(2 , num):
        if(num%j == 0):
            x = False
            break;
    if x == True:
        print(f"{num} is prime number")
    else : 
        print(f"{num} is Not Prime Number")

2 is prime number
3 is prime number
4 is Not Prime Number
5 is prime number
6 is Not Prime Number
7 is prime number
8 is Not Prime Number
9 is Not Prime Number
10 is Not Prime Number
11 is prime number
12 is Not Prime Number
13 is prime number
14 is Not Prime Number
15 is Not Prime Number
16 is Not Prime Number
17 is prime number
18 is Not Prime Number
19 is prime number
20 is Not Prime Number
21 is Not Prime Number
22 is Not Prime Number
23 is prime number
24 is Not Prime Number
25 is Not Prime Number
26 is Not Prime Number
27 is Not Prime Number
28 is Not Prime Number
29 is prime number
30 is Not Prime Number
31 is prime number
32 is Not Prime Number
33 is Not Prime Number
34 is Not Prime Number
35 is Not Prime Number
36 is Not Prime Number
37 is prime number
38 is Not Prime Number
39 is Not Prime Number
40 is Not Prime Number
41 is prime number
42 is Not Prime Number
43 is prime number
44 is Not Prime Number
45 is Not Prime Number
46 is Not Prime Number
47 is prime number
48 is Not Prime Number
49 is Not Prime Number
50 is Not Prime Number
51 is Not Prime Number
52 is Not Prime Number
53 is prime number
54 is Not Prime Number
55 is Not Prime Number
56 is Not Prime Number
57 is Not Prime Number
58 is Not Prime Number
59 is prime number
60 is Not Prime Number
61 is prime number
62 is Not Prime Number
63 is Not Prime Number
64 is Not Prime Number
65 is Not Prime Number
66 is Not Prime Number
67 is prime number
68 is Not Prime Number
69 is Not Prime Number
70 is Not Prime Number
71 is prime number
72 is Not Prime Number
73 is prime number
74 is Not Prime Number
75 is Not Prime Number
76 is Not Prime Number
77 is Not Prime Number
78 is Not Prime Number
79 is prime number
80 is Not Prime Number
81 is Not Prime Number
82 is Not Prime Number
83 is prime number
84 is Not Prime Number
85 is Not Prime Number
86 is Not Prime Number
87 is Not Prime Number
88 is Not Prime Number
89 is prime number
90 is Not Prime Number
91 is Not Prime Number
92 is Not Prime Number
93 is Not Prime Number
94 is Not Prime Number
95 is Not Prime Number
96 is Not Prime Number
97 is prime number
98 is Not Prime Number
99 is Not Prime Number